h1, h2, h3{
    font-family: Ubuntu, sans-serif;
}
body {
    font-size: 13px;
    font-family: Ubuntu, sans-serif;
    position: relative;

}


h1, .h1{
    font-size: 26px;
}
h2, .h2 {
    font-size: 22px;
}

h3, .h3 {
    font-size: 16px;
}


.euro-map{
    width: 50%;
    /*margin-left: 25%;*/
}
.euro-map-tags{
    width: 25%;
    margin-left: 10%;
}
.float-right{
    float: right;
}

.padding-bottom {
    padding-bottom: 20px;
}

.padding-top {
    padding-top: 20px;
}
.margin-top{
    margin-top: 20px;
}

.no_right_padding{
    padding-right:0px;
}
.margin-right{
    margin-right: 15px;
}
.margin-left{
    margin-left: 15px;
}
.padding-right{
    padding-right: 20px;
}
.no_left_padding{
    padding-left: 0px;
}
.no_bottom_padding{
    padding-bottom: 0px;
}

.color-blue{
    color: dodgerblue;
}
.color-red{
    color: red;
}
.imagepadding{
    padding-top: 50px;
}


@media (min-width: 1200px) {
    .width-1080{
        width: 1080px;
    }

    #main-content .equal-height {
        position: relative;
        overflow:hidden;
    }

    #main-content .equal-height .box {
        background-color: White;
        bottom: 0;
        left: 15px;
        position: absolute;
        right: 0px;
        top: 0;
        height:4000px;
    }

    #main-content .col-lg-6:last-child .box
    {
        right:15px;
    }

    #main-content .row.fixed-height [class*="col-"] {
        float: none;
        display: table-cell;
        vertical-align: top;
    }

    .ellas{
        display: none;
    }
    .swiss{
        display: none;
    }
}

@media (max-width: 1199px) {

    .swiss, .ellas {
        margin-right: 40px;
        max-height: 80px;
    }
}

/* <editor-fold descr="main-content"> */

#main-content .row.white-back{
    background-color: #ffffff;
}


#main-content.container, #main-content .row {
    background-color: #F2F2F2;
}

#main-content .box {
    background-color: white;
    padding: 15px;
    position: relative;
}

#main-content {
    padding: 25px;
}

#wrapper{
    position: static;
}

/*#wrapper #contents li*/
/*{*/
  /*border-radius: 0;*/
/*}*/

#main-content #wrapper {
    background-color: white;
    padding: 25px 35px;
}

#main-content #research h3
{
    margin-bottom:10px;
    margin-top:10px;
}
#main-content h1, #main-content h2 {
    margin: 0;
    padding: 0;
}

#main-content .row.no-margin {
    margin-left: -5px;
    margin-right: -5px;
}

#main-content .highlight {
    background-color: #fdd017;
    padding-bottom: 15px;
    padding-top: 15px;
}

#main-content .title.highlight {
    padding-bottom: 24px;
    padding-top: 24px;
}

#main-content h1, #main-content h2, #main-content h3, #main-content h4 {
    margin: 0;
    padding: 0;
}

.highlight h1 {
    font-size: 26px;
}
/* </editor-fold> */

/* <editor-fold descr="menu"> */
#header {
    margin-bottom: 40px;
}

#menu {
    float: right;
    padding-top: 20px;
}

#menu li {
    display: inline-block;
    border-radius: 10px;
}

#menu li a {
    line-height: 50px;
    padding: 0 20px;
    font-size: 16px;
    color: #444444
}

#menu .menu-item {
    transition: 0.2s ease-in-out;
}

#menu .menu-item:hover {
    background-color: #fcd017;
}

#menu .menu-item:hover a {
    color: white;
    text-decoration: none;
}

/***contentsMenu****/
.fixed{
    position: fixed;
    top:0;
    left: 0;
    z-index: 1;
    width: 100%;
}
.fixed .contentsMenu-inner{
    max-width: 1080px;
    margin: 0 auto;;
}

.contentsMenu-placeholder{
    margin: 0 0 20px 0;
}


#contentsMenu{
    top:0;
    padding-left: 0px;
    padding-right: 0px;
}
#contents {
    background-color: #444444;
    float: left;
    width: 100%;
    border-radius: 7px;
}

#contents-main-menu{
    text-align: left;
    margin-bottom: 0px;
    padding-left: 0px;
}

#contents li {
    display: inline-block;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

#contents li a {
    line-height: 50px;
    padding: 0 10px;
    font-size: 16px;
    color: #ffffff;
}
.contents-item{
    border-right: 1px solid #ffffff;
}
.no_border{
    border-right: none;
}

#contents .contents-item {
    transition: 0.2s ease-in-out;
}

#contents .contents-item:hover {
    background-color: #fcac0b;
}

#contents .contents-item:hover a {
    color: white;
    text-decoration: none;
}
/*****************/


#donate {

    background-color: #ffae19;
}

#donate:hover a {
    text-decoration: none;
}
/* </editor-fold> */

/* <editor-fold descr="footer"> */
#footer h2 {
    color: #fdd017;
}

#footer {
    background-color: #545454;
    padding-bottom: 60px;
    padding-top: 20px;
}

#full-footer {
    background-color: #343434;
    color: white;
}

#full-footer a {
    color: white;
}

#full-footer .copyright {
    margin-top: 10px;
}

#full-footer #fundingInfo {
    font-size: 14px;
}

#footer a {
    color: #cccccc;
}

#footer .program-info img {
    padding-top: 0px;
    height: 80px;
    border-radius: 5px;
    margin-top: 20px;
}

#footer ul {
    list-style: none;
    padding-left: 0;
}

#footer li {
    margin-bottom: 7px;
    margin-right: 5px;
}

.post-social ul li {
    display: inline;
}

.post-social i {
    border-radius: 6px;
    display: block !important;
    font-size: 18px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    width: 45px;
    color: white;
}

.post-social i.fa-facebook {
    background: none repeat scroll 0 0 #6767ed;
}

.post-social i.fa-linkedin {
    background: none repeat scroll 0 0 #7cb6f7;
}

.post-social i.fa-google-plus {
    background: none repeat scroll 0 0 #ed6d46;
}

.post-social i.fa-twitter {
    background: none repeat scroll 0 0 #4b6e98;
}

.post-social i.fa-github {
    background: none repeat scroll 0 0 #222222;
}

/* </editor-fold> */

#references {
    display: none;
}

#chat {
    margin-top: 60px;
    margin-bottom: 60px;
}

.modalwider {
    width: 850px;
}
